
    <div class="hd-bottom">
        <div class="container">
           
            <div class="row"> 
                
                <div class="col-xs-8 col-sm-3 col-sm-3">
                    <div class="logo">
                        <a href="index.html"><img src="images/logo.png" alt="logo"></a>
                    </div>
                </div>
                
                <div class="col-md-7">
                    <div class="hd-search">
                        <form method="post" action="#">
                            <input type="text" placeholder="Search what you are looking for?">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                
                <div class="col-sm-3 col-md-2">
                    <button class="hd-cart pull-right">
                        <span class="text">CART</span>
                        <span class="cart-count">10</span>
                    </button>
                </div>
                
            </div><!-- row end -->
          </div>
        </div>
          <div class="container">

            
            <div class="row">
                         <div class="col-sm-12 col-md-1 mrgb-30"></div>

                          <div class="col-sm-12 col-md-10 mrgb-30">
            </div>
        </div>
            
            <div class="wsmenucontent overlapblackbg"></div>
            <div class="wsmenuexpandermain slideRight">
                <a id="navToggle" class="animated-arrow slideLeft"><span></span></a>
            </div>
            
        </div><!-- container end -->
  <!--  </div> hd-bottom end -->
    
</header><!-- header end -->
    

    
<section class="main-body">
    <div class="container">
         <!-- <div class="full-add mrgb-30">
            <a href="#"><div class="hvr-all-img"><img src="images/adds/full.jpg" alt="full"></div></a>
         </div>	
    
        <div class="row">
            <div class="col-xs-sm col-xs-3 col-sm-3 col-md-3 sm-add mrgb-30">
                <a href="#"><div class="hvr-all-img"><img src="images/adds/small-add-1.jpg" alt="small-add-1"></div></a>
            </div>
            
            <div class="col-xs-sm col-xs-5 col-sm-5 col-md-5 sm-add mrgb-30">
                <a href="#"><div class="hvr-all-img"><img src="images/adds/small-add-2.jpg" alt="small-add-2"></div></a>
            </div>
            
            <div class="col-xs-sm col-xs-4 col-sm-4 col-md-4 sm-add mrgb-30">
                <a href="#"><div class="hvr-all-img"><img src="images/adds/small-add-3.jpg" alt="small-add-3"></div></a>
            </div>
            
        </div>
         -->
            
        <div class="mrgb-30">
            <div class="heading-all mrgb-20">
                <div class="clearfix">
                	<h1>Recently Added</h1>
                </div>
                <div class="hding-sept"></div>
            </div>
            
            <div class="owl-prodlist owl-carousel">
            
                    <div class="p-item">
                        <div class="p-item-img">
                            <img  src="images/products/1.jpg" alt="1">
                            <a href="#" class="qv-btn">Shop Now</a>
                        </div>
                        <div class="p-item-info">
                            <div class="price-tag">
                                <span class="reg-price">$690.00</span>
                                <span class="cut-price">$690.00</span>
                            </div>
                            <h2><a href="#">Star-KINGZONE-K1-Pro</a></h2>
                            <button class="btn-all">Add to Cart</button>
                        </div>
                    </div>
                
                    <div class="p-item">
                        <div class="p-item-img">
                           <img  src="images/products/2.jpg" alt="2">
                           <a href="#" class="qv-btn">Shop Now</a>
                        </div>
                        <div class="p-item-info">
                            <div class="price-tag">
                                <span class="reg-price">$690.00</span>
                                <span class="cut-price">$690.00</span>
                            </div>
                            <h2><a href="#">Star-KINGZONE-K1-Pro</a></h2>
                            <button class="btn-all">Add to Cart</button>
                        </div>
                    </div>
                
                    <div class="p-item">
                        <div class="p-item-img">
                            <img  src="images/products/3.jpg" alt="3">
                            <a href="#" class="qv-btn">Order Now</a>
                        </div>
                        <div class="p-item-info">
                            <div class="price-tag">
                                <span class="reg-price">$690.00</span>
                                <span class="cut-price">$690.00</span>
                            </div>
                            <h2><a href="#">Star-KINGZONE-K1-Pro</a></h2>
                            <button class="btn-all">Add to Cart</button>
                        </div>
                    </div>
               
                    <div class="p-item">
                        <div class="p-item-img">
                            <img  src="images/products/4.jpg" alt="4">
                             <a href="#" class="qv-btn">Order Now</a>
                        </div>
                        <div class="p-item-info">
                            <div class="price-tag">
                                <span class="reg-price">$690.00</span>
                                <span class="cut-price">$690.00</span>
                            </div>
                            <h2><a href="#">Star-KINGZONE-K1-Pro</a></h2>
                            <button class="btn-all">Add to Cart</button>
                        </div>
                    </div>
                    
                    <div class="p-item">
                        <div class="p-item-img">
                            <img  src="images/products/2.jpg" alt="2">
                             <a href="#" class="qv-btn">Order Now</a>
                        </div>
                        <div class="p-item-info">
                            <div class="price-tag">
                                <span class="reg-price">$690.00</span>
                                <span class="cut-price">$690.00</span>
                            </div>
                            <h2><a href="#">Star-KINGZONE-K1-Pro</a></h2>
                            <button class="btn-all">Add to Cart</button>
                        </div>
                    </div>
                
                    <div class="p-item">
                        <div class="p-item-img">
                            <img  src="images/products/3.jpg" alt="3">
                            <a href="#" class="qv-btn">Order Now</a>
                        </div>
                        <div class="p-item-info">
                            <div class="price-tag">
                                <span class="reg-price">$690.00</span>
                                <span class="cut-price">$690.00</span>
                            </div>
                            <h2><a href="#">Star-KINGZONE-K1-Pro</a></h2>
                            <button class="btn-all">Add to Cart</button>
                        </div>
                    </div>
               
            </div>
        </div>
            
        <div class="mrgb-30">
            <div class="heading-all mrgb-20">
                <div class="clearfix">
                	<h1>Today's Special</h1>
                </div>
                <div class="hding-sept"></div>
            </div>
            
            <div class="owl-prodlist owl-carousel">
            
                    <div class="p-item">
                        <div class="p-item-img">
                            <img  src="images/products/1.jpg" alt="1">
                            <a href="#" class="qv-btn">Order Now</a>
                        </div>
                        <div class="p-item-info">
                            <div class="price-tag">
                                <span class="reg-price">$690.00</span>
                                <span class="cut-price">$690.00</span>
                            </div>
                            <h2><a href="#">Star-KINGZONE-K1-Pro</a></h2>
                            <button class="btn-all">Add to Cart</button>
                        </div>
                    </div>
                
                    <div class="p-item">
                        <div class="p-item-img">
                           <img  src="images/products/2.jpg" alt="2">
                           <a href="#" class="qv-btn">Order Now</a>
                        </div>
                        <div class="p-item-info">
                            <div class="price-tag">
                                <span class="reg-price">$690.00</span>
                                <span class="cut-price">$690.00</span>
                            </div>
                            <h2><a href="#">Star-KINGZONE-K1-Pro</a></h2>
                            <button class="btn-all">Add to Cart</button>
                        </div>
                    </div>
                
                    <div class="p-item">
                        <div class="p-item-img">
                            <img  src="images/products/3.jpg" alt="3">
                            <a href="#" class="qv-btn">Order Now</a>
                        </div>
                        <div class="p-item-info">
                            <div class="price-tag">
                                <span class="reg-price">$690.00</span>
                                <span class="cut-price">$690.00</span>
                            </div>
                            <h2><a href="#">Star-KINGZONE-K1-Pro</a></h2>
                            <button class="btn-all">Add to Cart</button>
                        </div>
                    </div>
               
                    <div class="p-item">
                        <div class="p-item-img">
                            <img  src="images/products/4.jpg" alt="4">
                             <a href="#" class="qv-btn">Order Now</a>
                        </div>
                        <div class="p-item-info">
                            <div class="price-tag">
                                <span class="reg-price">$690.00</span>
                                <span class="cut-price">$690.00</span>
                            </div>
                            <h2><a href="#">Star-KINGZONE-K1-Pro</a></h2>
                            <button class="btn-all">Add to Cart</button>
                        </div>
                    </div>
                    
                    <div class="p-item">
                        <div class="p-item-img">
                            <img  src="images/products/2.jpg" alt="2">
                             <a href="#" class="qv-btn">Order Now</a>
                        </div>
                        <div class="p-item-info">
                            <div class="price-tag">
                                <span class="reg-price">$690.00</span>
                                <span class="cut-price">$690.00</span>
                            </div>
                            <h2><a href="#">Star-KINGZONE-K1-Pro</a></h2>
                            <button class="btn-all">Add to Cart</button>
                        </div>
                    </div>
                
                    <div class="p-item">
                        <div class="p-item-img">
                            <img  src="images/products/3.jpg" alt="3">

                            <a href="#" class="qv-btn">Order Now</a>
                        </div>
                        <div class="p-item-info">
                            <div class="price-tag">
                                <span class="reg-price">$690.00</span>
                                <span class="cut-price">$690.00</span>
                            </div>
                            <h2><a href="#">Star-KINGZONE-K1-Pro</a></h2>
                            <button class="btn-all">Order Now</button>
                        </div>
                    </div>
        </div>
    
            
    </div><!-- container end -->
</section><!-- main-body end -->
    
<footer>
	<div class="foot-top">
    	<div class="container">
        	<div class="row">
            	<div class="col-sm-4 col-md-3 mrgb-30">
                	<h3>Information</h3>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy and Policy</a></li> 
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">FAQ’s</a></li>
                        <li><a href="#">Blog</a>
                    </ul>
                </div>
                
                <div class="col-sm-4 col-md-3 mrgb-30">
                	<h3>Customer Service</h3>
                    <ul>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Order History</a></li> 
                        <li><a href="#">Other Services</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Topography</a>
                    </ul>
                </div>
                
                <div class="col-sm-4 col-md-3 mrgb-30">
                	<h3>My Account</h3>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Signin</a></li>
                        <li><a href="#">Signup</a></li> 
                        <li><a href="#">Cart</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a>
                    </ul>
                </div>
                
                <div class="col-sm-12 col-md-3 mrgb-30">
                	<h3>Contact</h3>
                    <address class="mrgb-20">
                    	<div class="foot-continfo mrgb-20">
                        	<div class="icon-cont">
                            	<i class="fa fa-paper-plane"></i>
                            </div>
                            <div class="add-info">
                            	ur business address is 1063 Free ype and scrambled it to make
                            </div>    
                        </div>
                        <div class="foot-continfo mrgb-20">
                        	<div class="icon-cont">
                            	<i class="fa fa-phone-square"></i>
                            </div>    
                             <div class="add-info">
                             	+ 977- 010000000
                             </div>   
                        </div>
                        <div class="foot-continfo mrgb-20">
                        	<div class="icon-cont">
                            	<i class="fa fa-envelope"></i>
                            </div>    
                            <div class="add-info">
                            	support@snapb.com
                            </div>    
                        </div>
                    </address>
                    
                    <ul class="social-link">
                    	<li><a href="#" target="_blank"><img src="images/icons/fb.png" alt="fb"></a></li>
                        <li><a href="#" target="_blank"><img src="images/icons/youtube.png" alt="youtube"></a></li>
                        <li><a href="#" target="_blank"><img src="images/icons/gplus.png" alt="gplus"></a></li>
                        <li><a href="#" target="_blank"><img src="images/icons/instagram.png" alt="instagram"></a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div><!-- footer top end -->
    
    <div class="foot-btm">
    	<div class="container">
        	<p>© 2019 snapb.com | All Right Reserved.</p>
        </div>
    </div>
    
</footer><!-- footer end -->
 
<!--js files-->
<script src="js/vendor/jquery-1.11.2.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/vendor/masonry.pkgd.min.js"></script>
<script src="js/vendor/owl.carousel.min.js"></script>
<script>
	
 
  $(document).ready(function(){
  $('.owl-prodlist').owlCarousel(
	{
	    autoPlay:2000,
		smartSpeed:1000,
	    mode: 'slide',
		autoplay:true,
		autoplayHoverPause:true,
		loop:true,
		autoHeight : true,
	    margin:30,
	    nav:true,
		lazyLoad:true,
	    responsiveClass:true,
		responsive:{
			0:{
				items:1,
				nav:false
			},
			500:{
				items:2,
				nav:true
			},
			767:{
				items:3,
				nav:true
			},
			991:{
				items:4,
				nav:true
			}
		}
	}
  );
});
	
 </script>

<script src="js/script.js"></script>

</body>
</html>
